.filterWrapper{
    background-color: rgb(63, 62, 62);
    /* padding: 1% 0 1% 1%; */
}
.toggle-button {
    display: block;
    width: 98vw;
    text-align: left;
    color: whitesmoke;
    font-weight: 600;
    font-size: x-large;
    /* padding-left: 1%; */
  }
  
.values {
    max-height: 1px;
    overflow: hidden;
    transition: max-height .2s ease-out;
    display: flex;
    flex-wrap: wrap;
}
.values > div{
    margin-right: 2%;
    margin-left: 1%;
}
.values label{
    color: whitesmoke;
    font-weight: 500;
    /* padding-left: 1%; */
}  
.values.show {
    max-height: 50vh;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked + label{
    color: black;
}