
.pagList{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pagnationButton{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.pagnationButton:hover:not(:disabled){
    background-color: rgb(163, 163, 163);
}