

.recipeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  width: 30%;
  margin: 0 auto;
}
.recipeCard > div > h2 {
  text-align: center;
}
.recipe > div > h2{
    text-align: center;
    font-size: 2vh;
    margin: 0;
}
.recipe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 3% 2% 3%;
}
/* .imageWrapper{
  height: 70%;
  width: 70%;
} */
.recipe img{
  width: 60%;
  height: 100%;
  /* padding-bottom: 3vh; */
  border-radius: 10px;
}
/* .recipeImage{
  max-width: 100%;
} */
.recipeListItem{
  /* list-style: none; */
  font-size: large;
  font-weight: 500;
  width: 30vw;
  height: 50%;
  margin-bottom: 2vh;
  border-radius: 5px;
  background-color: #f0f0f0;
}
.recipeListItem:hover {
  background-color: #e0e0e0;
}
.dietHeaders{
    display: flex;
}

.ingredientWrapper{
  display: flex;
  justify-content: flex-start;
  gap: 20%;
  align-items: center;
  width: 100%
}
.ingredientWrapper img {
  width: 10%;
}

/* .ingredientWrapper div {
  width: calc((100% - 100px) / 2);
} */