.recipeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  width: 50%;
  margin: 0 auto;
}
.recipeCard h2{
    text-align: left;
}
.recipe{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
}
.recipeImage{
  max-width: 100%;
}
.recipeListItem{
  list-style: none;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
}
.recipeListItem:hover {
  background-color: #e0e0e0;
}
.dietHeaders{
    display: flex;
}

.ingredientWrapper{
  display: flex;
  justify-content: flex-start;
  gap: 20%;
  align-items: center;
  width: 100%
}
.ingredientWrapper img {
  width: 100px;
}

.ingredientWrapper div {
  width: calc((100% - 100px) / 2);
}