.body{
  overflow-x: hidden;
}

.recipeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  width: 50%;
  margin: 0 auto;
}
.recipe h2{
    text-align: center;
}
.recipe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recipe img{
  width: 100%;
  height: auto;
}
/* .recipeImage{
  max-width: 100%;
} */
.recipeListItem{
  /* list-style: none; */
  font-size: larger;
  font-weight: 500;
  width: 30vw;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
}
.recipeListItem:hover {
  background-color: #e0e0e0;
}
.dietHeaders{
    display: flex;
}

.ingredientWrapper{
  display: flex;
  justify-content: flex-start;
  gap: 20%;
  align-items: center;
  width: 100%
}
.ingredientWrapper img {
  width: 10%;
}

/* .ingredientWrapper div {
  width: calc((100% - 100px) / 2);
} */